#container {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: repeat(10, 50px);
  padding: 0 auto 0 auto;
  margin: 0 auto;
}

.grid-item {
  border: 1px solid black;
}

.grid-item:hover {
  background-color: black;
}
